nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav h1 {
  font: var(--text-h1);
  color: var(--brand-color-light);
}

.scrollbar {
  display: flex;
  gap: 2.5rem;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0.875rem 0 0.875rem 1rem;
  font: var(--text-span);
  color: var(--text-color-secondary);
  scroll-behavior: smooth;
}

.scrollbar a {
  text-decoration: none;
  color: inherit;
}